@font-face {
    src: url("https://at.alicdn.com/t/c/font_4650736_dd4265o5yal.woff2?t=1723443488167") format("woff2"),
        url("https://at.alicdn.com/t/c/font_4650736_dd4265o5yal.woff?t=1723443488167") format("woff"),
        url("https://at.alicdn.com/t/c/font_4650736_dd4265o5yal.ttf?t=1723443488167") format("truetype");
    font-family: "iconfont"; /* Project id 4650736 */
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-left1::before {
    content: "\e681";
}
.icon-home::before {
    content: "\e609";
}
  